{% extends "base.html" %}

{% block title %}{{ post.title }} - Blog CRM{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-screen">
    <article class="bg-white rounded-lg shadow-md overflow-hidden w-3/4">
        <!-- Category on the top left -->
        <div class="flex justify-between items-start p-6">
            <span class="text-black-500  text-sm">Category  >  {{ post.categories.name }}</span>

        </div>

        <!-- Blog post content centered -->
        <div class="text-center">
            <!-- Blog post title -->
            <h1 class="text-4xl font-bold mb-4">{{ post.title}}</h1>

            <!-- Author on left, Date on right -->
            <div class="flex justify-between text-gray-600 text-sm mb-4 px-6">
                <span>By @{{ post.author|capfirst  }}</span>
                <span>{{ post.created_at|date:"F j, Y" }}</span>
            </div>

            <!-- Blog post image with adjusted size -->
            <div class="mb-4">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full h-96 object-cover rounded-lg">
            </div>

            <!-- Blog post content -->
            <div class="prose max-w-none px-6">
                {{ post.content|safe }}
            </div>
        </div>
    </article>
</div>
{% endblock %}
