{% extends 'base.html' %}

{% block content %}
    <h1 class="text-3xl font-bold mb-6">Latest Articles</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for post in posts %}
        <a href="{% url 'blog-detail' post.id %}" class="bg-white p-4 rounded-lg shadow">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full h-48 object-cover mb-4 rounded-md">
            {% endif %}
            <h2 class="text-xl font-semibold">{{ post.title }}</h2>
            <br>
            <p class="text-black-600 text-lg">
                by <span class="font-semibold">{{ post.author.username|capfirst }}</span>
                <br>
                <span class="text-gray-500">{{ post.created_at|date:"M d, Y" }}</span>
                <br> 
            </p>
            <p class="text-gray-600">{{ post.content|truncatewords:20 }}</p>
            <span class="text-pink-500 hover:underline">Read more...</span>
        </a>
        {% empty %}
            <p>No articles found.</p>
        {% endfor %}
    </div>
{% endblock %}
